* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(45deg, #6482ad 50%, #e2dad6 50%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

.wrapper {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 2rem;
}

.container {
  width: 50%;
  margin: 4rem auto;
}

.expense-list .row {
  justify-content: space-between;
  align-items: center;
}

.expense {
  padding: 1rem 0;
  border-bottom: 1px solid grey;
}
.expense:last-child {
  border: none;
}
